<div class="wrap">
  <div class="card">
    <div class="logo">ZΞRO</div>
    <h2>Login</h2>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>Username</label>
      <input type="text" formControlName="username" placeholder="Name" />
      <small *ngIf="f['username'].touched && f['username'].invalid">Obligatorio</small>


      <label>Password</label>
      <input type="password" formControlName="password" placeholder="••••••••" />
      <small *ngIf="f['password'].touched && f['password'].invalid">Obligatorio</small>


      <button class="btn" type="submit" [disabled]="loading()">
        {{ loading() ? 'Loading...' : 'Enter' }}
      </button>

      <p class="msg" *ngIf="msg()">{{ msg() }}</p>
    </form>

    <p class="bottom">
      No tienes cuenta? <a routerLink="/register">Regístrate</a>
    </p>
  </div>
</div>
